<%- include('../partials/header') %>

<img class="head-img"src="https://i.imgur.com/rdxkPS2.png">

<h1>Add Certifications</h1>

<div class="content-body">

    <form id="new-cert-form" action="/profile/add-cert" method="POST">
        <label>Certification
            <input type="String" name="cert">
        </label><br>
        <label>Expiration
            <input type="String" name="expiration">            
        </label><br><br>
        <input class="style-button" type="submit" value="Add Cert"><br>
    </form>
    <hr>
    <br>
       
        <% profile.certs.forEach(function(c) { %>
            <div class = "flex-container">
                <div class = "flex-content">
                    <form action="/profile/cert/<%= c._id%>?_method=DELETE" method="POST">
                        <button id="delete-cert" type="submit">X</button>
                    </form>
                </div>
                <div class = "flex-content"><%= c.cert %></div>
                <div class = "flex-content"><%= c.expiration %></div>
            </div>
        <% }); %>

    <br>
    <hr>
    <br>
    <a href="/profile"><button class="style-button">Done</button></a>

</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
