<%- include('../partials/header') %>

<img class="head-img"src="https://i.imgur.com/aAAPRs0.png">

<h1>edit profile</h1>

<div class="content-body">
    
<!-- add profile info form -->
<form id="edit-profile-form" action="/profile/<%= profile._id%>/update?_method=PUT" method="POST">
    <label>Username
        <input type="String" name="nickname" value="<%= profile.nickname%>">
    </label><br>
    <label>When did you start diving?
        <input type="String" name="startDate" value="<%= profile.startDate%>">            
    </label><br>
    <label>Favorite dive site?
        <input type="String" name="favorite" value="<%= profile.favorite%>">            
    </label><br><br>

    <input class = "style-button" type="submit" value="update">
</form>

</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>