<%- include('../partials/header') %>

<h1><%= user.name%></h1>

<% if (profile) { %>
    
    <img src="<%= user.avatar %>">

    <div>Username:</div>
    <div><%= profile.nickname%></div>    

    <div>Started Diving:</div>
    <div><%= profile.startDate%></div>

    <div>Favorite dive site:</div>
    <div><%= profile.favorite%></div>    

    <br>
    <a href="/profile/edit"><button>Edit Profile</button></a>

<% } else { %>  

    <a href="/profile/new"><button>Add Information</button></a>

<% } %>

<% if  ( profile.certifcates ) { %>
    
    <div>My Certifications</div>

    <table>
        <thead>
            <th>&nbsp</th>
            <th>Certification</th>
            <th>Expires</th>
        </thead>
        <tbody>
            <% profile.certificates.forEach(function(c) { %>
                <% if (user && user._id.equals(c.user)) { %>
                    <tr>
                        <td><a class ="dive-details" href="/dives/<%= d._id %>">details</a></td>
                        <td><%= c.cert%></td>
                        <td><%= d.expiration%></td>
                    </tr>
                  <% }
                }); %>
        </tbody>
    </table>

    <% } else { %>
        <br>
        <a href="/profile/certs"><button>Add Certifications</button></a>
    <% }; %>
