<%- include('../partials/header') %>

<img class="head-img"src="https://i.imgur.com/SDlwshd.png">

<h1>my profile</h1>

<div class="content-body">
    <!-- if a profile exists for this user, show their info and certs     -->
    <% if (profile) { %>

        <h2><%= user.name%></h2><br>

        <div>aka: <%= profile.nickname%></div>    
        <br>
        <div>I've been diving since <%= profile.startDate%></div>
        <br>
        <div>My favorite dive site is <%= profile.favorite%></div>    
        <br>
        <a href="/profile/edit"><button class = "style-button">edit</button></a>

        <% if  ( profile.certs.length ) { %>
            <hr class="profile-hr">
            <h2>Certifications</h2>
            <br>
                <% profile.certs.forEach(function(c) { %>
                    <br>
                    <div class = "flex-container" id="flex-profile"></div>
                    <%if (c.expiration.length) { %>
                        <div><%= c.cert %> - Expires: <%= c.expiration %></div>
                        <br>
                    <% } else { %>
                        <div><%= c.cert %></div>
                        <br>
                    <% }; %>    
                <% }); %>
                <br>
            <a href="/profile/certs"><button class = "style-button">add/edit certs</button></a>    
            </div>    
            
    <!-- if user has no certs yet -->
        <% } else { %>
            <br>
            <a href="/profile/certs"><button class = "style-button">add certs</button></a>
        <% }; %>
    <!-- if user has no profile yet -->
    <% } else { %>  

        <a href="/profile/new"><button class = "style-button">create profile</button></a>

    <% } %>
    <div>&nbsp</div>


    
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>