<%- include('../partials/header') %>

<h1><%= deck.deckName %> deck</h1>

<h2>New Card</h2>

<!-- form to add new card -->
<form id="add-card-form" action="/<%= deck._id%>/cards/new" method="POST">
    <label>Question</label>
    <input name = "question" type = "string">
    <br>
    <label>Answer</label>
    <input name = "answer" type = "string">
    <br>
    <input type = "submit" value = "add">
</form>

<h2>My Cards</h2>

<!-- if there are cards, then list them, otherwise say "no cards in deck" -->
<% if (deck.cards.length) { %>
    <% deck.cards.forEach(function(card){ %>
        <div>Question: <%= card.question%></div>
        <div>Answer: <%= card.answer%></div>
<!-- delete card         -->
        <form action="/<%= card._id %>/cards?_method=DELETE"
            class="delete-card" method="POST">
            <button type="submit">delete</button>
        </form>
<!-- send info card info to controller, will redirect to edit page         -->
        <a href="/<%= card._id %>/edit"><button>edit</button></a>
        <br>
    <% }); %>    
<% } else { %>
    <div>There are no cards in this deck yet</div>
<% }; %>
<br>
<form action="/decks/<%= deck._id %>?_method=DELETE"
    class="delete-deck" method="POST">
    <button type="submit">delete deck</button>
</form>