<%- include('../partials/header') %>

<a href="/decks/<%= deck._id %>/edit"><button>Edit Deck</button></a>

<h1><%= deck.deckName%></h1>

<div><%= deck.cards[0].question%></div>

<a href="/decks/<%= deck._id %>"><button>back</button></a>
<a href="/decks/<%= deck._id %>"><button>flip</button></a>
<a href="/decks/<%= deck._id %>"><button>next</button></a>
<!-- <div class = "card-container">
    <div>
        card front
        card back
    </div>
</div> -->

<!-- button: back
button: flip
button: next -->