<%- include('../partials/header') %>

<img class="head-img"src="https://i.imgur.com/77SOMnK.png">

<h1 id="index-h1">D I V E &nbsp L O G</h1>

<div class="content-body">

    <form id="add-new-dive"action="/dives/new">
        <input class="style-button" type="submit" value="add dive">
    </form>

    <h2>my dives</h2>
    <br>

    <% dives.forEach(function(d) { %>
        <% if (user && user._id.equals(d.user)) { %>
            <div class = "flex-container">
                <div class = "flex-content"><strong>no. <%= d.number%></strong></div>
                <div class = "flex-content"><%= d.date.getDate()%>.<%= d.date.getMonth()%>.<%= d.date.getFullYear()%></div>
                <div class = "flex-content"><%= d.site%></div>
                <div class = "flex-content"><a class ="dive-details" href="/dives/<%= d._id %>">view</a></div>
            </div>
            <hr>
            <br>
        <% }
        }); %>


</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
