<%- include('../partials/header') %>

<h1>my dives</h1>

<div>
    <form action="/dives/new">
        <input type="submit" value="add new dive">
    </form>
</div>

<% if (dives.length) { %>
<table>
    <thead>
        <th>Dive Number</th>
        <th>Date</th>
        <th>Dive Site</th>
        <th>Details</th>
    </thead>
    <tbody>
        <% dives.forEach(function(d) { %>
            <% if (user && user._id.equals(d.user)) { %>
                <tr>
                    <td><%= d.number%></td>
                    <td><%= d.date%></td>
                    <td><%= d.site%></td>
                    <td><a class ="dive-details" href="/dives/<%= d._id %>">details</a></td>
                </tr>
              <% } %>
        <% }) %>
    </tbody>
</table>
<% } else { %>
    <div>no logged dives yet</div>
<% }; %>