<%- include('../partials/header') %>

<a href="/decks/<%= deck._id %>/edit"><button>Edit Deck</button></a>

<h1><%= deck.deckName%></h1>

<% if (deck.cards.length) { %>

    <a href="/decks/<%= deck._id %>"><button>back</button></a>
    <a href="/decks/<%= deck._id %>"><button>flip</button></a>
    <a href="/decks/<%= deck._id %>"><button>next</button></a>
<% } else { %>
    <div>you have no cards yet</div>
    <a href="/decks/<%= deck._id %>/edit"><button>Add Cards</button></a>
<% }; %>

